{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Downloader</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% if 'youtube' in request.get_full_path %}
    <form action="{% url 'index' %}">
        <input class="{{ classe }}Button" type="submit" id="trocar" value="Trocar">
    </form>
    {% else %}
    <form action="{% url 'youtube' %}">
        <input class="{{ classe }}Button" type="submit" id="trocar" value="Trocar">
    </form>
    {% endif %}
    <div class="container">
        <div class="downloader">
            {% with 'img/'|add:classe|add:'.png' as imagem %}
            <img src="{% static imagem %}" alt="" class="downloader-img {{ classe }}">
            {% endwith %}
            <span class="downloader-span">{{ classe | capfirst }} Downloader</span>
        </div>
        {% if 'youtube' in request.get_full_path %}
        {% with True as cond %}
        <form method="POST" action="{% url 'download' cond %}" class="form">
            {% csrf_token %}
            <!-- formulário -->
            {{ form.link }}

            <div class="arguments">
                {{ form.offset }}
                {{ form.limit }}
            </div>

            {% for error in form.errors.link %}
                <div class="alert alert-danger">
                    {{ error }} <!-- mensagem de erro -->
                </div>
            {% endfor %}
            <input type="submit" class="{{ classe }}Button" value="Baixar">
        </form>
        {% endwith %}
        {% else %}
        {% with False as cond %}
        <form method="POST" action="{% url 'download' cond %}" class="form">
            {% csrf_token %}
            <!-- formulário -->
            {{ form.link }}

            <div class="arguments">
                {{ form.offset }}
                {{ form.limit }}
            </div>

            {% for error in form.errors.link %}
                <div class="alert alert-danger">
                    {{ error }} <!-- mensagem de erro -->
                </div>
            {% endfor %}
            <input type="submit" class="{{ classe }}Button" value="Baixar">
        </form>
        {% endwith %}
        {% endif %}
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>